In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text

In [4]:
data = pd.read_csv('retail-dataset.csv', encoding='latin1')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [14]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%d-%m-%Y %H:%M', errors='coerce')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
engine = create_engine('postgresql://airflow:airflow@localhost:5434/master')

with engine.connect() as conn:
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS transaction_data (
            InvoiceNo VARCHAR(50),
            StockCode VARCHAR(50),
            Description TEXT,
            Quantity INTEGER,
            InvoiceDate TIMESTAMP,
            UnitPrice DECIMAL(10, 2),
            CustomerID VARCHAR,
            Country VARCHAR(100)
        )
    """))

    conn.execute(text("""
        DO $$
        BEGIN
            IF NOT EXISTS (SELECT 1 FROM pg_class WHERE relname = 'idx_transaction_data_invoice') THEN
                CREATE INDEX idx_transaction_data_invoice ON transaction_data(InvoiceNo);
            END IF;
        END $$;
    """))


try:
    with engine.begin() as conn:  
        for index, row in data.iterrows():
            conn.execute(text("""
                INSERT INTO transaction_data (
                    InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country
                ) VALUES (
                    :InvoiceNo, :StockCode, :Description, :Quantity, :InvoiceDate, :UnitPrice, :CustomerID, :Country
                )
            """), {
                'InvoiceNo': row['InvoiceNo'],
                'StockCode': row['StockCode'],
                'Description': row['Description'],
                'Quantity': row['Quantity'],
                'InvoiceDate': row['InvoiceDate'],
                'UnitPrice': row['UnitPrice'],
                'CustomerID': row['CustomerID'],
                'Country': row['Country']
            })
    print("Data berhasil diinsert")
except Exception as e:
    print(f"Terjadi error: {e}")

C:\Users\fajri\AppData\Local\Temp\ipykernel_15812\4050563614.py:9: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(text("""

Data berhasil diinsert