In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [10]:
from sqlalchemy import create_engine, text

# Membuat koneksi
engine = create_engine('postgresql://airflow:airflow@localhost:5434/master')

# Query menggunakan SQLAlchemy
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM transaction_data"))
    data = pd.DataFrame(result) 
    print(data.head()) # Menampilkan setiap baris hasil query

  invoiceno stockcode                          description  quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          invoicedate unitprice customerid         country
0 2010-12-01 08:26:00      2.55    17850.0  United Kingdom
1 2010-12-01 08:26:00      3.39    17850.0  United Kingdom
2 2010-12-01 08:26:00      2.75    17850.0  United Kingdom
3 2010-12-01 08:26:00      3.39    17850.0  United Kingdom
4 2010-12-01 08:26:00      3.39    17850.0  United Kingdom

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   invoiceno    541909 non-null  object
 1   stockcode    541909 non-null  object
 2   description  541909 non-null  object
 3   quantity     541909 non-null  int64
 4   invoicedate  541909 non-null  datetime64[ns]
 5   unitprice    541909 non-null  object
 6   customerid   541909 non-null  object
 7   country      541909 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 33.1+ MB

In [12]:
data['total_transaction'] = data['quantity'] * data['unitprice']
data.head()

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country,total_transaction
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [19]:
data['customerid'].unique()

array(['17850.0', '13047.0', '12583.0', ..., '13298.0', '14569.0',
       '12713.0'], dtype=object)

In [20]:
df = data[['country', 'stockcode', 'description','quantity','total_transaction']]

In [21]:
summary_df = df.groupby(by=['country', 'stockcode', 'description']).sum().reset_index()
df.head()

,country,stockcode,description,quantity,total_transaction
0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,15.30
1,United Kingdom,71053,WHITE METAL LANTERN,6,20.34
2,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8,22.00
3,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,20.34
4,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,20.34